<div>
  <h2 id="page-heading" data-cy="RequestTableHeading">
    <span jhiTranslate="qLchungcuApp.requestTable.home.title">Request Tables</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="qLchungcuApp.requestTable.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-request-table"
        [routerLink]="['/request-table/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="qLchungcuApp.requestTable.home.createLabel">Create a new Request Table</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (requestTables?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="qLchungcuApp.requestTable.home.notFound">No Request Tables found</span>
    </div>
  }

  @if (requestTables && requestTables.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="qLchungcuApp.requestTable.id">Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createAt">
              <div class="d-flex">
                <span jhiTranslate="qLchungcuApp.requestTable.createAt">Create At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="updateAt">
              <div class="d-flex">
                <span jhiTranslate="qLchungcuApp.requestTable.updateAt">Update At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="deletedAt">
              <div class="d-flex">
                <span jhiTranslate="qLchungcuApp.requestTable.deletedAt">Deleted At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="d-flex">
                <span jhiTranslate="qLchungcuApp.requestTable.status">Status</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="userId">
              <div class="d-flex">
                <span jhiTranslate="qLchungcuApp.requestTable.userId">User Id</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="title">
              <div class="d-flex">
                <span jhiTranslate="qLchungcuApp.requestTable.title">Title</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="message">
              <div class="d-flex">
                <span jhiTranslate="qLchungcuApp.requestTable.message">Message</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="reply">
              <div class="d-flex">
                <span jhiTranslate="qLchungcuApp.requestTable.reply">Reply</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="note">
              <div class="d-flex">
                <span jhiTranslate="qLchungcuApp.requestTable.note">Note</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notificationTable.id">
              <div class="d-flex">
                <span jhiTranslate="qLchungcuApp.requestTable.notificationTable">Notification Table</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (requestTable of requestTables; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/request-table', requestTable.id, 'view']">{{ requestTable.id }}</a>
              </td>
              <td>{{ requestTable.createAt | formatMediumDatetime }}</td>
              <td>{{ requestTable.updateAt | formatMediumDatetime }}</td>
              <td>{{ requestTable.deletedAt | formatMediumDatetime }}</td>
              <td>{{ requestTable.status }}</td>
              <td>{{ requestTable.userId }}</td>
              <td>{{ requestTable.title }}</td>
              <td>{{ requestTable.message }}</td>
              <td>{{ requestTable.reply }}</td>
              <td>{{ requestTable.note }}</td>
              <td>
                @if (requestTable.notificationTable) {
                  <div>
                    <a [routerLink]="['/notification-table', requestTable.notificationTable.id, 'view']">{{
                      requestTable.notificationTable.id
                    }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/request-table', requestTable.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/request-table', requestTable.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(requestTable)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
