<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-fee-table-heading" data-cy="FeeTableCreateUpdateHeading" jhiTranslate="qLchungcuApp.feeTable.home.createOrEditLabel">
        Create or edit a Fee Table
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="qLchungcuApp.feeTable.createAt" for="field_createAt">Create At</label>
          <div class="d-flex">
            <input
              id="field_createAt"
              data-cy="createAt"
              type="datetime-local"
              class="form-control"
              name="createAt"
              formControlName="createAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="qLchungcuApp.feeTable.updateAt" for="field_updateAt">Update At</label>
          <div class="d-flex">
            <input
              id="field_updateAt"
              data-cy="updateAt"
              type="datetime-local"
              class="form-control"
              name="updateAt"
              formControlName="updateAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="qLchungcuApp.feeTable.deletedAt" for="field_deletedAt">Deleted At</label>
          <div class="d-flex">
            <input
              id="field_deletedAt"
              data-cy="deletedAt"
              type="datetime-local"
              class="form-control"
              name="deletedAt"
              formControlName="deletedAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="qLchungcuApp.feeTable.feeType" for="field_feeType">Fee Type</label>
          <input type="text" class="form-control" name="feeType" id="field_feeType" data-cy="feeType" formControlName="feeType" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="qLchungcuApp.feeTable.feeDesc" for="field_feeDesc">Fee Desc</label>
          <input type="text" class="form-control" name="feeDesc" id="field_feeDesc" data-cy="feeDesc" formControlName="feeDesc" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="qLchungcuApp.feeTable.feeMonth" for="field_feeMonth">Fee Month</label>
          <input type="text" class="form-control" name="feeMonth" id="field_feeMonth" data-cy="feeMonth" formControlName="feeMonth" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="qLchungcuApp.feeTable.feeCost" for="field_feeCost">Fee Cost</label>
          <input type="number" class="form-control" name="feeCost" id="field_feeCost" data-cy="feeCost" formControlName="feeCost" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="qLchungcuApp.feeTable.date" for="field_date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="qLchungcuApp.feeTable.status" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="qLchungcuApp.feeTable.feeId" for="field_feeId">Fee Id</label>
          <input type="text" class="form-control" name="feeId" id="field_feeId" data-cy="feeId" formControlName="feeId" />
          @if (editForm.get('feeId')!.invalid && (editForm.get('feeId')!.dirty || editForm.get('feeId')!.touched)) {
            <div>
              @if (editForm.get('feeId')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="qLchungcuApp.feeTable.roomTable" for="field_roomTable">Room Table</label>
          <select
            class="form-control"
            id="field_roomTable"
            data-cy="roomTable"
            name="roomTable"
            formControlName="roomTable"
            [compareWith]="compareRoomTable"
          >
            <option [ngValue]="null"></option>
            @for (roomTableOption of roomTablesSharedCollection; track $index) {
              <option [ngValue]="roomTableOption">{{ roomTableOption.roomId }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
